<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>

<nav class="">
    <div class="volver text-center">
        <a href="/">Volver a Inicio</a>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Inicio de sesión</h5>
                    <form th:action="@{/reset_password}" method="POST">
                        <input type="hidden" name="token" th:value="${token}">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Nueva contraseña" autofocus required>
                                </div>
                                <div class="input-group">
                                    <input type="password"  class="form-control"  name="confirmPassword"
                                           autofocus required placeholder="Confirme contraseña"
                                    oninput="checkPasswordMatch(this);">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="submit" value="Change Password" class="btn btn-primary btn-block mt-3 border-0 w-50">Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
<script src="/js/scriptLogin.js"></script>
<script type="text/javascript">
    <!-- Función para comprobar que las contraseñas coinciden -->
    function checkPasswordMatch(fieldConfirmPassword) {
        console.log("checkPasswordMatch");
       if(fieldConfirmPassword.value !=$("#password").val()) {
           console.log("no coinciden");
           fieldConfirmPassword.setCustomValidity("Las contraseñas no coinciden");
       } else {
           console.log("coinciden");
           fieldConfirmPassword.setCustomValidity("");
       }
    }
</script>
</body>
</html>