<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/css/login.css">
    <title>Formulario Registro</title>
</head>
<body>
<main class="cuerpo-main">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <form class="formulario" th:action="@{/registrar}" method="POST">
                <legend class="legend">Completá el Formulario de Registro</legend>
                <div class="contenedor-inputs">
                    <div>
                        <label class="tipografia">Nombre</label>
                        <input class="input-text" id="nombre-registro" name="nombre" placeholder="Indique su Nombre">
                    </div>
                    <div>
                        <div>
                            <label class="tipografia">DNI</label>
                            <input class="input-text" type="text" id="dni-registro" name="dni" min="1"
                                   placeholder="Indique su DNI sin puntos ni comas">
                        </div>
                        <div>
                            <label class="tipografia">Contraseña</label>
                            <input class="input-text" type="password" id="password-registro" name="password"
                                   placeholder="Indique su Contraseña">
                        </div>
                        <div>
                            <label class="tipografia">Confirme Contraseña:</label>
                            <input class="input-text" type="password" id="password2-registro" name="password2"
                                   placeholder="Confirme su Contraseña">
                        </div>
                    </div>
                    <div>
                        <button class="boton-enviar" type="submit">Registrarse</button>
                        <p th:if="${error != null}" class="warnings" id="warnings"></p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</main>
</body>
</html>